# **Pandas**
***

### **Editado por: Kevin Alexander Gómez**
#### Contacto: kevinalexandr19@gmail.com | [Linkedin](https://www.linkedin.com/in/kevin-alexander-g%C3%B3mez-2b0263111/) | [Github](https://github.com/kevinalexandr19)
***

### **Descripción**

Usando este manual, aprenderás a usar Pandas, una librería usada para el análisis de datos tabulares en Python.

Este Notebook es parte del proyecto [**Python para Geólogos**](https://github.com/kevinalexandr19/manual-python-geologia), y ha sido creado con la finalidad de facilitar el aprendizaje en Python para estudiantes y profesionales en el campo de la Geología.

***

## **1. ¿Qué es Pandas?**
Pandas (abreviación de `Panel Data`) es una herramienta rápida, flexible y poderosa para el análisis y manipulación de datos, desarrollado en Python.\
Con Pandas, podemos representar información tabular (hojas de trabajo o bases de datos) a través del uso de `Series` y `DataFrame`.

### **1.1 ¿Cuáles son las ventajas de Pandas?**
- Podemos explorar, limpiar y procesar nuestros datos de manera eficiente.
- Permite la integración de diversos formatos de archivo o fuentes de datos como `csv`, `excel`, `sql`, `json`, etc.
- Contiene funciones de selección y filtrado para filas y columnas específicas.
- No hay necesidad de usar bucles para procesar cada fila de una tabla, la manipulación de datos en una columna se realiza por elementos.
- Se pueden realizar cálculos estadísticos básicos (media, mediana, varianza, etc.) de manera sencilla.
- Permite agrupar y desagrupar datos por categorías de una forma rápida.
- Permite la concatenación de múltiples tablas por columna o por fila.
- Contiene herramientas para el análisis de series temporales.
- Contiene herramientas para la limpieza y extracción de datos textuales.

***

Revisaremos las `Series` y `DataFrame` usando el siguiente ejemplo:

### Análisis químico de muestras
Usando la siguiente información tabular, se pide transcribir la información y almacenarla en archivos de formato CSV y Excel.

| Muestra |Au (ppm)  |Ag (ppm)  |Cu (%)   |Zn (%)  |Pb (%)  |
|:-------:|:--------:|:--------:|:-------:|:------:|:------:|
|A        |5.0       |51.2      |3.2      |4.0     |3.4     |
|B        |6.1       |62.7      |4.5      |6.1     |5.5     |
|C        |4.2       |54.8      |2.1      |3.5     |3.1     |
|D        |2.4       |47.1      |4.8      |6.4     |5.8     |
|E        |8.3       |40.3      |5.4      |8.9     |6.7     |

Empezaremos importando `pandas` y usaremos `pd` como una referencia abreviada de esta librería:

In [ ]:
import pandas as pd

## **2. Series**

Empezaremos creando un objeto llamado `Series`, que es similar a un `array` de Numpy, pero además lleva un **índice** o `index`.\
En este caso, lo crearemos a partir de una lista que contenga los valores de la columna de `Au`:

In [ ]:
au = pd.Series([5.0, 6.1, 4.2, 2.4, 8.3], index=["A", "B", "C", "D", "E"])

In [ ]:
au

Los objetos de tipo `Series` representan unidades de filas y columnas.

También podemos crear una serie a partir de un diccionario. En este caso, usaremos la columna de `Ag`:

In [ ]:
ag = pd.Series({"A": 51.2, "B": 62.7, "C": 54.8, "D": 47.1, "E": 40.3})

In [ ]:
ag

Podemos obtener el índice a través del atributo `index`:

In [ ]:
ag.index

Y los valores a través del atributo `values`:

In [ ]:
ag.values

Crearemos una nueva serie para la columna de `Cu`:

In [ ]:
cu = pd.Series({"A": 3.2, "B": 4.5, "C": 2.1, "D": 4.8, "E": 5.4})
cu

Podemos crear una copia usando el método `copy`:

In [ ]:
copia = cu.copy()
copia

Y también podemos modificar y agregar valores dentro de una serie.\
Si modificamos una copia, el original no es alterado:

In [ ]:
copia[0] = 0
copia["F"] = 10
copia

Ahora crearemos las columnas para el `Zn` y el `Pb`:

In [ ]:
index = ["A", "B", "C", "D", "E"]

zn = pd.Series(dict(zip(index, [4.0, 6.1, 3.5, 6.4, 8.9])))
pb = pd.Series(dict(zip(index, [3.4, 5.5, 3.1, 5.8, 6.7])))

In [ ]:
zn

In [ ]:
pb

Podemos hacer slicing dentro de una serie:

In [ ]:
# Segunda y tercera fila de la columna Zn
zn[1:3]

In [ ]:
# De la tercera a la quinta fila de la columna Pb
pb["C": "E"]

Podemos usar el método `loc` para ubicar un elemento dentro de una serie a partir del nombre asignado en su índice:

In [ ]:
# La segunda fila de la columna Zn tiene por nombre "B"
zn.loc["B"]

O también podemos usar `iloc` para ubicar el elemento de acuerdo al orden de posición en la serie:

In [ ]:
# La segunda fila de la columna Zn tiene por posición 1
zn.iloc[1]

## **3. DataFrame**

Un `DataFrame` agrupa objetos de tipo `Series` para generar una tabla de filas y columnas.\
Cada fila y columna del DataFrame puede llevar un nombre específico.

Usaremos las columnas de `Au`, `Ag`, `Cu`, `Zn` y `Pb` que hemos creado anteriormente para generar el DataFrame:

In [ ]:
data = pd.DataFrame({"Au": au, "Ag": ag, "Cu": cu, "Zn": zn, "Pb": pb})
data

Podemos usar el método `head` para observar solamente las primeras filas de una tabla:

In [ ]:
data.head(2)

Y también podemos usar el método `tail` para observar solamente las últimas fila de una tabla:

In [ ]:
data.tail(3)

## **4. Manipulación de datos**

Podemos eliminar los índices utilizando el método `reset_index`:

In [ ]:
data.reset_index()

Si agregamos el parámetro `drop=True`, el índice anterior será descartado:

In [ ]:
data.reset_index(drop=True)

Si queremos hacer permanente el cambio, podemos utilizar el parámetro `inplace=True`:

In [ ]:
data.reset_index(drop=True, inplace=True)
data

Podemos agregar un nuevo índice usando el atributo `index`:

In [ ]:
data.index = ["A", "B", "C", "D", "E"]
data

Podemos extraer los nombres de las columnas con el atributo `columns`:

In [ ]:
data.columns

También podemos crear una copia de la tabla con `copy`:

In [ ]:
copia = data.copy()
copia

Podemos seleccionar columnas a través de su nombre:

In [ ]:
data["Au"]

In [ ]:
data[["Au", "Zn", "Cu"]]

Podemos seleccionar filas haciendo slicing:

In [ ]:
data[1:]

In [ ]:
data["B":]

Y también podemos seleccionar elementos específicos utilizando `loc`.\
Las filas y columnas se especifican usando listas separadas:

In [ ]:
data.loc[["A", "C"], ["Ag", "Pb"]]

También podemos utilizar rangos:

In [ ]:
data.loc["A": "D", :]

Con `iloc` el proceso es similar, pero en vez de utilizar los nombres utilizamos el orden de posición:

In [ ]:
data.iloc[[0, 2], [1, 4]]

In [ ]:
data.iloc[0:4, :]

Podemos extraer el tipo de dato de cada columna con el atributo `dtypes`:

In [ ]:
data.dtypes

También podemos colocarle un nombre al índice:

In [ ]:
data.index.name = "Muestras"
data

Podemos eliminar filas y columnas utilizando el método `drop` (para hacer el cambio permanente, agregar el parámetro `inplace=True`:

In [ ]:
data.drop(columns=["Au", "Ag"], index=["A", "B"])

También podemos agregar nuevas columnas, como por ejemplo, la suma de concentraciones de `Cu`, `Zn` y `Pb`:

In [ ]:
data["Cu + Zn + Pb"] = data["Cu"] + data["Zn"] + data["Pb"]
data

Si utilizamos expresiones lógicas, obtendremos un arreglo con valores de tipo lógico:

In [ ]:
data["Au"] > 5.0

Podemos usar este arreglo para filtrar los datos de acuerdo a una condición:

In [ ]:
data[data["Au"] > 5.0]

Crearemos una columna de datos vacíos para la suma de `Au` y `Ag`:

In [ ]:
import numpy as np

In [ ]:
data["Au + Ag"] = np.nan
data

Para ubicar valores de tipo `nan` en la tabla, podemos usar el método `isna`:

In [ ]:
data.isna()

Si queremos reemplazar los valores `nan`, podemos utilizar el método `fillna`:

In [ ]:
data.fillna("")

Por último, si queremos eliminar los valores de tipo `nan`, podemos utilizar el método `dropna`.\
El párametro `axis` elimina todas las filas (0) o columnas (1) que contengan valores `nan`.

In [ ]:
data.dropna(axis=1)

Si queremos hacer el cambio permanente, agregamos el parámetro `inplace=True`:

In [ ]:
data.dropna(axis=1, inplace=True)
data